# Node
node_modules
npm-debug.log
yarn-error.log
dist
build

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Editor
.vscode
.idea
*.swp

# Output
coverage

# Docker
Dockerfile*
.dockerignore

tmp
.cache

# Misc
*.tgz
*.gz
*.zip
*.tar

# Ignore CMS uploads
cms/public/uploads
